/* @override http://hi-express.loc/sites/all/themes/navin/css/prolifik-header.css?m5m03s */

#section-header {
  overflow: hidden;
  position: relative;
}

#zone-header {
}

#zone-header-wrapper {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
	position: relative;
	z-index: 999;
	background: rgb(14,60,122); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlM2M3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYwYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(14,60,122,1) 0%, rgba(0,96,193,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,60,122,1)), color-stop(100%,rgba(0,96,193,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(14,60,122,1) 0%,rgba(0,96,193,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3c7a', endColorstr='#0060c1',GradientType=0 ); /* IE6-8 */


}

/* Featured (Rotating Banner) */
#zone-header .views_slideshow_cycle_main {
  -moz-box-shadow: 0 0 20px #aaa;
  -o-box-shadow: 0 0 20px #aaa;
  -khtml-box-shadow: 0 0 20px #aaa;
  -webkit-box-shadow: 0 0 20px #aaa;
  box-shadow: 0 0 20px #aaa;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#zone-header .views-slideshow-cycle-main-frame,
#zone-header .views-slideshow-cycle-main-frame-row,
#zone-header .views-slideshow-cycle-main-frame-row img {
  width: 100% !important;
}
#zone-header .views-slideshow-cycle-main-frame-row,
#zone-header .views-slideshow-cycle-main-frame-row img {
  height: auto !important;
}
/* Text */
#zone-header .rotating-banner .banner-text {
  background: #000;
  background: rgba(0,0,0,.5);
  bottom: 0;
  height: inherit;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  right: 0;
  width: auto;
}
#zone-header .rotating-banner .banner-text .banner-title {
  color: #fff;
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
  padding: 10px 30px 5px;
  text-shadow: 2px 2px 0 #000;
}
#zone-header .rotating-banner .banner-text .banner-body {
  color: #ddd;
  font-size: 1.4em;
  padding: 0 30px 10px;
  text-shadow: 2px 2px 0 #000;
}
/* Controls */
#zone-header .views-slideshow-controls-bottom .widget_pager {
  position: absolute;
  right: -10px;
  text-align: center;
  top: 10px;
  z-index: 100;
  *zoom: 1;
}
